@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Koulen", cursive; }
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; }
  body::-webkit-scrollbar {
    width: 7px; }
  body::-webkit-scrollbar-thumb {
    background-color: #08ff00; }

.header {
  display: grid;
  justify-items: normal;
  align-items: center;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: auto;
  grid-template-areas: "headerlink nav";
  position: fixed;
  width: 100%;
  z-index: 1; }
  .header__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    grid-area: headerlink;
    padding: 0 0 0 15px; }
  .header__logo {
    width: 100%;
    max-width: 70px; }
  .header__titulo {
    text-shadow: 0 0 20px #7e7e7e;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.4rem; }
    .header__titulo:hover {
      color: #08ff00; }

.menuburger__label {
  display: none; }

.menuburger__img {
  height: 40px;
  padding: 0 15px 0 0; }

.menuburger__input {
  display: none; }

.nav {
  display: grid;
  grid-area: nav; }
  .nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav__li {
    list-style: none;
    text-shadow: 0 0 20px #7e7e7e;
    border-bottom: #08ff00 solid 2px; }
  .nav__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem; }
    .nav__link:hover {
      color: #08ff00; }

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "preguntasFooter linksFooter";
  padding: 5rem 1rem 5rem 1rem;
  margin: 50px 0 0 0;
  gap: 3rem;
  border-top: #08ff00 solid 2px; }
  .footer__article, .footer__articleDos {
    grid-area: preguntasFooter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem; }
  .footer__link {
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem; }
    .footer__link:hover {
      color: #08ff00; }
  .footer__articleDos {
    align-items: center;
    grid-area: linksFooter; }
  .footer__titulo {
    font-size: 2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.9); }
  .footer .footer__span {
    color: #08ff00; }
  .footer .footer__me {
    text-decoration: none;
    color: #08ff00; }
  .footer__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; }

.body {
  background-image: url("../img/backgroundindex.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.sectionUnoIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  .sectionUnoIndex__titulo {
    align-self: start;
    padding: 150px 0 0 0;
    text-shadow: 0 0 20px #7e7e7e;
    font-size: 4.8rem;
    font-family: "Holtwood One SC", serif;
    border-bottom: #08ff00 solid 5px;
    color: rgba(255, 255, 255, 0.9); }
  .sectionUnoIndex__parrafo {
    text-shadow: 0 0 20px #7e7e7e;
    align-self: start;
    font-size: 3.2rem;
    padding: 0 0 0 100px;
    color: rgba(255, 255, 255, 0.9); }
  .sectionUnoIndex__btn {
    margin: 200px 0 0 0; }

.mainMenu, .mainPromos, .mainNosotros, .mainEnvios, .mainContacto {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto; }

.banner {
  background-image: url("../img/bannermenu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .banner__titulo {
    font-size: 10rem;
    text-align: center;
    text-shadow: 0 0 20px #7e7e7e;
    color: rgba(255, 255, 255, 0.9); }
  .banner__icon {
    font-size: 10rem;
    color: #08ff00; }

.banner--agregados {
  background-image: url("../img/banneragregados.png"); }

.sectionUnoMenu, .sectionTresMenu, .sectionCincoMenu, .sectionUnoPromos, .sectionTresPromos, .sectionUnoNosotros, .sectionUnoEnvios, .sectionUnoContacto {
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 75vh;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "pictureMenu  tituloMenu" "pictureMenu  parrafoMenu"; }
  .sectionUnoMenu__picture {
    grid-area: pictureMenu; }
  .sectionUnoMenu__img {
    width: 100%;
    border-radius: 50px; }
  .sectionUnoMenu__article {
    grid-area: tituloMenu;
    align-self: end; }
  .sectionUnoMenu__articleDos {
    grid-area: parrafoMenu;
    align-self: start; }

.tittle {
  font-size: 4rem;
  text-align: center;
  background-color: #08FF00;
  font-family: "Holtwood One SC", serif;
  color: black; }

.parrafosDeHamburguesas {
  font-size: 2.4rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.9); }

.parrafo__preciosMenu {
  color: #08ff00;
  font-size: 3rem; }

.iconArrow, .footer__icon {
  font-size: 4.8rem;
  color: #08ff00; }

.sectionDosMenu, .sectionCuatroMenu, .sectionSeisMenu, .sectionDosPromos {
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 75vh;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "titulo2Menu    picture2Menu" "parrafo2Menu   picture2Menu"; }
  .sectionDosMenu__picture {
    grid-area: picture2Menu; }
  .sectionDosMenu__img {
    width: 100%;
    border-radius: 50px; }
  .sectionDosMenu__article {
    grid-area: titulo2Menu;
    align-self: end; }
  .sectionDosMenu__articleDos {
    grid-area: parrafo2Menu;
    align-self: start; }

.sectionTresMenu {
  grid-template-areas: "picture3Menu   titulo3Menu" "picture3Menu   parrafo3Menu"; }
  .sectionTresMenu__picture {
    grid-area: picture3Menu; }
  .sectionTresMenu__img {
    width: 100%;
    border-radius: 50px; }
  .sectionTresMenu__article {
    grid-area: titulo3Menu;
    align-self: end; }
  .sectionTresMenu__articleDos {
    grid-area: parrafo3Menu;
    align-self: start; }

.sectionCuatroMenu {
  grid-template-areas: "titulo4Menu    picture4Menu" "parrafo4Menu   picture4Menu"; }
  .sectionCuatroMenu__picture {
    grid-area: picture4Menu; }
  .sectionCuatroMenu__img {
    width: 100%;
    border-radius: 50px; }
  .sectionCuatroMenu__article {
    grid-area: titulo4Menu;
    align-self: end; }
  .sectionCuatroMenu__articleDos {
    grid-area: parrafo4Menu;
    align-self: start; }

.sectionCincoMenu {
  grid-template-areas: "picture5Menu   titulo5Menu" "picture5Menu   parrafo5Menu"; }
  .sectionCincoMenu__picture {
    grid-area: picture5Menu; }
  .sectionCincoMenu__img {
    width: 100%;
    border-radius: 50px; }
  .sectionCincoMenu__article {
    grid-area: titulo5Menu;
    align-self: end; }
  .sectionCincoMenu__articleDos {
    grid-area: parrafo5Menu;
    align-self: start; }

.sectionSeisMenu {
  grid-template-areas: "titulo6Menu    picture6Menu" "parrafo6Menu   picture6Menu"; }
  .sectionSeisMenu__picture {
    grid-area: picture6Menu; }
  .sectionSeisMenu__img {
    width: 100%;
    border-radius: 50px; }
  .sectionSeisMenu__article {
    grid-area: titulo6Menu;
    align-self: end; }
  .sectionSeisMenu__articleDos {
    grid-area: parrafo6Menu;
    align-self: start; }

.sectionSieteMenu {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 2rem; }
  .sectionSieteMenu__ul {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    list-style-type: none; }
  .sectionSieteMenu__li {
    color: rgba(255, 255, 255, 0.9); }
    .sectionSieteMenu__li:hover {
      color: #08ff00; }

.banner--promos {
  background-image: url("../img/bannerpromos.png"); }

.sectionUnoPromos {
  grid-template-areas: "picturePromos  tituloPromos" "picturePromos  parrafoPromos"; }
  .sectionUnoPromos__picture {
    grid-area: picturePromos; }
  .sectionUnoPromos__img {
    width: 100%;
    border-radius: 50px; }
  .sectionUnoPromos__article {
    grid-area: tituloPromos;
    align-self: end; }
  .sectionUnoPromos__articleDos {
    grid-area: parrafoPromos;
    align-self: start; }

.sectionDosPromos {
  grid-template-areas: "titulo2Promos  picture2Promos" "parrafo2Promos picture2Promos"; }
  .sectionDosPromos__picture {
    grid-area: picture2Promos; }
  .sectionDosPromos__img {
    width: 100%;
    border-radius: 50px; }
  .sectionDosPromos__article {
    grid-area: titulo2Promos;
    align-self: end; }
  .sectionDosPromos__articleDos {
    grid-area: parrafo2Promos;
    align-self: start; }

.sectionTresPromos {
  grid-template-areas: "picture3Promos  titulo3Promos" "picture3Promos  parrafo3Promos"; }
  .sectionTresPromos__picture {
    grid-area: picture3Promos; }
  .sectionTresPromos__img {
    width: 100%;
    border-radius: 50px; }
  .sectionTresPromos__article {
    grid-area: titulo3Promos;
    align-self: end; }
  .sectionTresPromos__articleDos {
    grid-area: parrafo3Promos;
    align-self: start; }

.banner--nosotros {
  background-image: url("../img/bannernosotros.png"); }

.sectionUnoNosotros {
  grid-template-areas: "pictureNosotros  tituloNosotros" "pictureNosotros  parrafoNosotros"; }
  .sectionUnoNosotros__picture {
    grid-area: pictureNosotros; }
  .sectionUnoNosotros__img {
    width: 100%;
    max-width: 500px; }
  .sectionUnoNosotros__article {
    grid-area: tituloNosotros;
    align-self: end; }
  .sectionUnoNosotros__articleDos {
    grid-area: parrafoNosotros;
    align-self: start; }

.sectionDosNosotros {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 10rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "avatar1    avatar2"; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: avatar1;
  gap: 2rem;
  background-color: transparent;
  border: none; }

.card-img {
  max-width: 200px; }

.card-titulo {
  background-color: #08ff00;
  color: black;
  font-size: 3rem;
  padding: 5px 10px 5px 10px; }

.card-2 {
  grid-area: avatar2; }

.sectionTresNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  max-width: 700px;
  width: 100%;
  margin: 50px 0 0 0; }

.subtitle {
  background-color: #08ff00;
  text-align: center;
  color: black;
  font-size: 3.2rem;
  padding: 5px 5px 5px 5px; }

.accordion {
  padding: 0 50px 0 50px;
  --bs-accordion-color: rgba(255, 255, 255, 0.9);
  --bs-accordion-bg: rgba(255, 255, 255, 0);
  --bs-accordion-border-color: #08ff00;
  --bs-accordion-border-width: 3px;
  --bs-accordion-btn-bg: transparent;
  --bs-accordion-btn-icon-width: 0;
  --bs-accordion-btn-focus-border-color: #08ff00;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem#08ff00;
  --bs-accordion-active-color: #08ff00;
  --bs-accordion-active-bg: transparent; }

.accordion-button {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9); }

.accordion-body {
  font-size: 2rem; }

.banner--envios {
  background-image: url("../img/bannerenvios.png"); }

.sectionUnoEnvios {
  grid-template-areas: "pictureEnvios  tituloEnvios" "pictureEnvios  parrafoEnvios"; }
  .sectionUnoEnvios__picture {
    grid-area: pictureEnvios; }
  .sectionUnoEnvios__img {
    width: 100%; }
  .sectionUnoEnvios__article {
    grid-area: tituloEnvios;
    align-self: end; }
  .sectionUnoEnvios__articleDos {
    grid-area: parrafoEnvios;
    align-self: start; }

.sectionDosEnvios, .sectionCuatroEnvios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  gap: 5rem; }
  .sectionDosEnvios__article, .sectionCuatroEnvios__article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 3rem; }

.iconEnvios {
  font-size: 5rem;
  gap: 3rem;
  max-width: 200px;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.parrafosDeInformacion {
  font-size: 2rem;
  line-height: 1.3;
  text-align: center;
  font-family: "Koulen", cursive;
  color: rgba(255, 255, 255, 0.9); }

.sectionTresEnvios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5rem; }
  .sectionTresEnvios__article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; }

.sectionCuatroEnvios {
  height: auto; }

.banner--contacto {
  background-image: url("../img/bannercontacto.png"); }

.sectionUnoContacto {
  grid-template-areas: "pictureContacto formContacto"; }
  .sectionUnoContacto__picture {
    grid-area: pictureContacto;
    background-color: #08FF00; }
  .sectionUnoContacto__img {
    width: 100%;
    mix-blend-mode: multiply;
    filter: grayscale(100%); }

.formContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: formContacto;
  width: 100%;
  gap: 1.4rem; }
  .formContacto__label {
    font-size: 2rem;
    padding: 1px 5px 1px 5px; }
  .formContacto__input {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    outline: none;
    font-size: 2rem;
    width: 50%;
    padding: 1px 5px 1px 5px; }
    .formContacto__input:focus {
      outline: #08FF00 2px solid; }
  .formContacto__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem; }

.btn {
  --bs-btn-font-size: 2rem; }

.btn-outline-success {
  --bs-btn-color: #08FF00;
  --bs-btn-border-color: #08FF00;
  --bs-btn-hover-color: #454545;
  --bs-btn-hover-bg: #08FF00;
  --bs-btn-hover-border-color: #08FF00;
  --bs-btn-active-bg: #08FF00;
  --bs-btn-active-border-color: #08FF00;
  --bs-btn-disabled-color: #08FF00; }

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  html {
    font-size: 9px; } }

/* 768 PX */
@media screen and (max-width: 768px) {
  html {
    font-size: 8.5px; }
  /* MENU DE HAMBURGUESA */
  .header {
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "headerlink menuburger" "nav nav"; }
    .header__titulo {
      font-size: 3.2rem; }
  .nav {
    visibility: hidden;
    display: none; }
    .nav__ul {
      height: 100%;
      flex-direction: column; }
    .nav__link {
      font-size: 3rem; }
  .menuburger__label {
    display: block;
    grid-area: menuburger;
    justify-self: end; }
  .menuburger__input:checked ~ .nav {
    background-color: black;
    visibility: visible;
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    animation: checked 1.3s forwards; }
  @keyframes checked {
    0% {
      right: -100%; }
    100% {
      right: 0; } }
  /* MEDIA DE NOSOTROS */
  .sectionUnoNosotros {
    grid-template-areas: "tituloNosotros tituloNosotros" "pictureNosotros pictureNosotros" "parrafoNosotros parrafoNosotros"; }
  /* MEDIA DE ENVIOS */
  .sectionUnoEnvios {
    grid-template-areas: "tituloEnvios  tituloEnvios" "pictureEnvios  pictureEnvios" "parrafoEnvios  parrafoEnvios"; } }

/* 600 PX */
@media screen and (max-width: 600px) {
  html {
    font-size: 8px; }
  /* MEDIA DE INDEX */
  .sectionUnoIndex__titulo {
    align-self: center; }
  .sectionUnoIndex__parrafo {
    align-self: center;
    padding: 0; }
  .sectionUnoIndex__btn {
    margin: 300px 0 0 0; }
  /* MEDIA DE MENU */
  .sectionUnoMenu, .sectionTresMenu, .sectionCincoMenu, .sectionUnoPromos, .sectionTresPromos, .sectionUnoNosotros, .sectionUnoEnvios, .sectionUnoContacto {
    grid-template-areas: "tituloMenu  tituloMenu" "pictureMenu  pictureMenu" "parrafoMenu  parrafoMenu"; }
  .sectionDosMenu, .sectionCuatroMenu, .sectionSeisMenu, .sectionDosPromos {
    grid-template-areas: "titulo2Menu  titulo2Menu" "picture2Menu  picture2Menu" "parrafo2Menu  parrafo2Menu"; }
  .sectionTresMenu {
    grid-template-areas: "titulo3Menu    titulo3Menu" "picture3Menu  picture3Menu" "parrafo3Menu   parrafo3Menu"; }
  .sectionCuatroMenu {
    grid-template-areas: "titulo4Menu  titulo4Menu" "picture4Menu  picture4Menu" "parrafo4Menu  parrafo4Menu"; }
  .sectionCincoMenu {
    grid-template-areas: "titulo5Menu  titulo5Menu" "picture5Menu  picture5Menu" "parrafo5Menu  parrafo5Menu"; }
  .sectionSeisMenu {
    grid-template-areas: "titulo6Menu  titulo6Menu" "picture6Menu  picture6Menu" "parrafo6Menu  parrafo6Menu"; }
  /* MEDIA DE PROMOS */
  .sectionUnoPromos {
    grid-template-areas: "tituloPromos  tituloPromos" "picturePromos  picturePromos" "parrafoPromos  parrafoPromos"; }
  .sectionDosPromos {
    grid-template-areas: "titulo2Promos  titulo2Promos" "picture2Promos  picture2Promos" "parrafo2Promos  parrafo2Promos"; }
  .sectionTresPromos {
    grid-template-areas: "titulo3Promos  titulo3Promos" "picture3Promos  picture3Promos" "parrafo3Promos  parrafo3Promos"; }
  /* MEDIA DE NOSOTROS */
  .sectionUnoNosotros {
    grid-template-areas: "tituloNosotros tituloNosotros" "pictureNosotros pictureNosotros" "parrafoNosotros parrafoNosotros"; }
  .sectionDosNosotros {
    grid-template-areas: "avatar1    avatar1" "avatar2    avatar2"; }
  .sectionUnoEnvios {
    grid-template-areas: "tituloEnvios  tituloEnvios" "pictureEnvios  pictureEnvios" "parrafoEnvios  parrafoEnvios"; }
  .sectionDosEnvios__article, .sectionCuatroEnvios__article {
    flex-direction: column; }
  .sectionCuatroEnvios__article {
    flex-direction: row; }
  .sectionUnoContacto {
    grid-template-areas: "pictureContacto pictureContacto" "formContacto formContacto"; } }

/* 480 PX */
@media screen and (max-width: 480px) {
  html {
    font-size: 7.5px; }
  .sectionUnoIndex__titulo {
    font-size: 4.2rem; }
  .footer {
    grid-template-areas: "preguntasFooter preguntasFooter" "linksFooter linksFooter"; }
  .sectionDosEnvios__article, .sectionCuatroEnvios__article {
    align-items: center; } }
