.header {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: "headerlink nav";
}

.nav {
    display: grid;
    grid-area: nav;
}