.header {
    @include grid (normal, center);
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: "headerlink nav";
    position: fixed;
    width: 100%;
    z-index: 1;

    &__link {
        @include flex (column, center, center);
        text-decoration: none;
        grid-area: headerlink;
        padding: 0 0 0 15px;
    }

    &__logo {
        width: 100%;
        max-width: 70px;
    }

    &__titulo {
        text-shadow: 0 0 20px map-get($map: $colors, $key: four);
        color: map-get($map: $colors, $key: secondary);
        font-size: 2.4rem;

        &:hover {
            color: map-get($map: $colors, $key: hover);
        }
    }

}

.menuburger {
    &__label {
        display: none;
    }

    &__img {
        height: 40px;
        padding: 0 15px 0 0;
    }

    &__input {
        display: none;
    }
}

.nav {
    display: grid;
    grid-area: nav;

    &__ul {
        @include flex (row, space-around, center);
    }

    &__li {
        list-style: none;
        text-shadow: 0 0 20px map-get($map: $colors, $key: four);
        border-bottom: map-get($map: $colors, $key: border) solid 2px;
    }

    &__link {
        text-decoration: none;
        color: map-get($map: $colors, $key: secondary);
        font-size: 2rem;

        &:hover {
            color: map-get($map: $colors, $key: hover);
        }
    }
}