/* MEDIA QUERIES */

@include mediaq (1024px) {
    html {
        font-size: 8px;
    }

    /* MEDIA DE PROMOS */
    .mainPromos {
        row-gap: 5rem;
    }

}

/* 768 PX */

@include mediaq (768px) {
    html {
        font-size: 7px;
    }

    /* MENU DE HAMBURGUESA */
    .header {
        justify-items: start;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "headerlink menuburger"
            "nav nav";
        padding: 0 5rem 0 5rem;

        &__titulo {
            font-size: 3.2rem;
        }
    }

    .nav {
        visibility: hidden;
        display: none;

        &__ul {
            height: 100%;
            flex-direction: column;
        }

        &__link {
            font-size: 2.5rem;
        }
    }

    .menuburger {
        &__label {
            display: block;
            grid-area: menuburger;
            justify-self: end;
        }

        &__input:checked~.nav {
            visibility: visible;
            display: block;
            width: 100%;
            height: 50vh;
        }

    }


    /* MEDIA DE INDEX */

    .sectionUnoIndex {
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
            "informacion informacion"
            "picture picture";

        &__picture {
            display: none;
        }
    }

    /* MEDIA DE NOSOTROS */

    .sectionUnoNosotros {
        grid-template-areas:
            "tituloNosotros tituloNosotros"
            "pictureNosotros pictureNosotros"
            "parrafoNosotros parrafoNosotros";
    }

    /* MEDIA DE ENVIOS */

    .mainEnvios {
        gap: 5rem;
    }

    .sectionUnoEnvios {
        grid-template-areas:
            "tituloEnvios  tituloEnvios"
            "pictureEnvios  pictureEnvios"
            "parrafoEnvios  parrafoEnvios";
    }


    /* MEDIA DE CONTACTO */

    .mainContacto {
        padding: 3rem;
    }

    .sectionUnoContacto {
        grid-template-columns: 1fr;
        grid-template-areas:
            "formContacto";

        &__picture,
        &__pictureDos {
            display: none;
        }
    }

    .formContacto {
        gap: 2rem;

        &__label {
            font-size: 3rem;
        }
    }

    .form-control {
        font-size: 3rem;
    }

    .btn {
        --bs-btn-font-size: 3rem;
    }
}

/* 600 PX */

@include mediaq (600px) {
    html {
        font-size: 6px;
    }

    /* MEDIA DE INDEX */

    .divIndex {
        gap: 3rem;
        grid-template-areas:
            "imagen imagen"
            "link   link";
    }

    /* MEDIA DE MENU */

    .sectionUnoMenu {
        grid-template-areas:
            "tituloMenu  tituloMenu"
            "pictureMenu  pictureMenu"
            "parrafoMenu  parrafoMenu";
    }

    .sectionDosMenu {
        grid-template-areas:
            "titulo2Menu  titulo2Menu"
            "picture2Menu  picture2Menu"
            "parrafo2Menu  parrafo2Menu";
    }

    .sectionTresMenu {
        grid-template-areas:
            "titulo3Menu    titulo3Menu"
            "picture3Menu  picture3Menu"
            "parrafo3Menu   parrafo3Menu";
    }

    .sectionCuatroMenu {
        grid-template-areas:
            "titulo4Menu  titulo4Menu"
            "picture4Menu  picture4Menu"
            "parrafo4Menu  parrafo4Menu";
    }

    /* MEDIA DE PROMOS */

    .sectionUnoPromos {
        grid-template-areas:
            "tituloPromos  tituloPromos"
            "picturePromos  picturePromos"
            "parrafoPromos  parrafoPromos";
    }

    .sectionDosPromos {
        grid-template-areas:
            "titulo2Promos  titulo2Promos"
            "picture2Promos  picture2Promos"
            "parrafo2Promos  parrafo2Promos";
    }

    /* MEDIA DE NOSOTROS */

    .sectionUnoNosotros {
        grid-template-areas:
            "tituloNosotros tituloNosotros"
            "pictureNosotros pictureNosotros"
            "parrafoNosotros parrafoNosotros";
    }

    .sectionDosNosotros {
        grid-template-areas:
            "avatar1    avatar1"
            "avatar2    avatar2";
    }
}

/* 480 PX */

@include mediaq (480px) {
    html {
        font-size: 5px;
    }

    /* MEDIA DE INDEX */

    .sectionUnoIndex__picture {
        display: none;
    }
}