/* MEDIA QUERIES */

@include mediaq (1024px) {
    html {
        font-size: 9px;
    }
}

/* 768 PX */

@include mediaq (768px) {
    html {
        font-size: 8.5px;
    }

    /* MENU DE HAMBURGUESA */
    .header {
        justify-items: start;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "headerlink menuburger"
            "nav nav";

        &__titulo {
            font-size: 3.2rem;
        }
    }

    .nav {
        visibility: hidden;
        display: none;

        &__ul {
            height: 100%;
            flex-direction: column;
        }

        &__link {
            font-size: 3rem;
        }
    }

    .menuburger {
        &__label {
            display: block;
            grid-area: menuburger;
            justify-self: end;
        }

        &__input:checked~.nav {
            background-color: rgb(0, 0, 0);
            visibility: visible;
            display: block;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            z-index: -1;
            animation: checked 1.3s forwards;
        }

        @keyframes checked {
            0% {
                right: -100%;
            }

            100% {
                right: 0;
            }
        }
    }

    /* MEDIA DE NOSOTROS */

    .sectionUnoNosotros {
        grid-template-areas:
            "tituloNosotros tituloNosotros"
            "pictureNosotros pictureNosotros"
            "parrafoNosotros parrafoNosotros";
    }

    /* MEDIA DE ENVIOS */

    .sectionUnoEnvios {
        grid-template-areas:
            "tituloEnvios  tituloEnvios"
            "pictureEnvios  pictureEnvios"
            "parrafoEnvios  parrafoEnvios";
    }
}

/* 600 PX */

@include mediaq (600px) {
    html {
        font-size: 8px;
    }

    /* MEDIA DE INDEX */

    .sectionUnoIndex {
        &__titulo {
            align-self: center;
        }

        &__parrafo {
            align-self: center;
            padding: 0;
        }

        &__btn {
            margin: 300px 0 0 0;
        }
    }

    /* MEDIA DE MENU */

    .sectionUnoMenu {
        grid-template-areas:
            "tituloMenu  tituloMenu"
            "pictureMenu  pictureMenu"
            "parrafoMenu  parrafoMenu";
    }

    .sectionDosMenu {
        grid-template-areas:
            "titulo2Menu  titulo2Menu"
            "picture2Menu  picture2Menu"
            "parrafo2Menu  parrafo2Menu";
    }

    .sectionTresMenu {
        grid-template-areas:
            "titulo3Menu    titulo3Menu"
            "picture3Menu  picture3Menu"
            "parrafo3Menu   parrafo3Menu";
    }

    .sectionCuatroMenu {
        grid-template-areas:
            "titulo4Menu  titulo4Menu"
            "picture4Menu  picture4Menu"
            "parrafo4Menu  parrafo4Menu";
    }

    .sectionCincoMenu {
        grid-template-areas:
            "titulo5Menu  titulo5Menu"
            "picture5Menu  picture5Menu"
            "parrafo5Menu  parrafo5Menu";
    }

    .sectionSeisMenu {
        grid-template-areas:
            "titulo6Menu  titulo6Menu"
            "picture6Menu  picture6Menu"
            "parrafo6Menu  parrafo6Menu";
    }

    /* MEDIA DE PROMOS */

    .sectionUnoPromos {
        grid-template-areas:
            "tituloPromos  tituloPromos"
            "picturePromos  picturePromos"
            "parrafoPromos  parrafoPromos";
    }

    .sectionDosPromos {
        grid-template-areas:
            "titulo2Promos  titulo2Promos"
            "picture2Promos  picture2Promos"
            "parrafo2Promos  parrafo2Promos";
    }

    .sectionTresPromos {
        grid-template-areas:
            "titulo3Promos  titulo3Promos"
            "picture3Promos  picture3Promos"
            "parrafo3Promos  parrafo3Promos";
    }

    /* MEDIA DE NOSOTROS */

    .sectionUnoNosotros {
        grid-template-areas:
            "tituloNosotros tituloNosotros"
            "pictureNosotros pictureNosotros"
            "parrafoNosotros parrafoNosotros";
    }

    .sectionDosNosotros {
        grid-template-areas:
            "avatar1    avatar1"
            "avatar2    avatar2";
    }

    // MEDIA DE ENVIOS

    .sectionUnoEnvios {
        grid-template-areas:
            "tituloEnvios  tituloEnvios"
            "pictureEnvios  pictureEnvios"
            "parrafoEnvios  parrafoEnvios";
    }

    .sectionDosEnvios__article {
        flex-direction: column;
    }

    .sectionCuatroEnvios__article {
        flex-direction: row;
    }

    // MEDIA DE CONTACTO

    .sectionUnoContacto {
        grid-template-areas: "pictureContacto pictureContacto"
            "formContacto formContacto";
    }
}

/* 480 PX */

@include mediaq (480px) {
    html {
        font-size: 7.5px;
    }

    // MEDIA ENVIOS

    .sectionDosEnvios__article {
        align-items: center
    }
}