// MAPA DE COLORES
$colors: (
    primary: #08ff00,
    secondary: #ffffff,
    border: #08ff00,
    hover: #08ff00,
);

// VAR DE FONTS
$font-title: 'Holtwood One SC', serif;
$font-description: 'Koulen', cursive;