.mainContacto {
    @extend .mainMenu;
}

.banner--contacto {
    background-image: url("../img/bannercontacto.png")
}

.sectionUnoContacto {
    @extend .sectionUnoMenu;
    grid-template-areas:
        "pictureContacto formContacto";

    &__picture {
        grid-area: pictureContacto;
        background-color: #08FF00;
    }

    &__img {
        width: 100%;
        mix-blend-mode: multiply;
        filter: grayscale(100%);
    }
}

.formContacto {
    @include flex (column, center, center);
    grid-area: formContacto;
    width: 100%;
    gap: 1.4rem;

    &__label {
        font-size: 2rem;
        padding: 1px 5px 1px 5px;
    }

    &__input {
        border-radius: 5px;
        background-color: map-get($map: $colors, $key: secondary);
        border: none;
        outline: none;
        font-size: 2rem;
        width: 50%;
        padding: 1px 5px 1px 5px;

        &:focus {
            outline: #08FF00 2px solid;
        }
    }

    &__buttons {
        @include flex (row, center, center);
        gap: 3rem;
    }
}

.btn {
    --bs-btn-font-size: 2rem;
}

.btn-outline-success {
    --bs-btn-color: #08FF00;
    --bs-btn-border-color: #08FF00;
    --bs-btn-hover-color: #454545;
    --bs-btn-hover-bg: #08FF00;
    --bs-btn-hover-border-color: #08FF00;
    --bs-btn-active-bg: #08FF00;
    --bs-btn-active-border-color: #08FF00;
    --bs-btn-disabled-color: #08FF00;
}