.mainEnvios {
    @extend .mainMenu;
}

.banner--envios {
    background-image: url("../img/bannerenvios.png")
}

.sectionUnoEnvios {
    @extend .sectionUnoMenu;
    grid-template-areas:
        "pictureEnvios  tituloEnvios"
        "pictureEnvios  parrafoEnvios";

    &__picture {
        grid-area: pictureEnvios;
    }

    &__img {
        width: 100%;
    }

    &__article {
        grid-area: tituloEnvios;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafoEnvios;
        align-self: start;
    }
}

.sectionDosEnvios {
    @include flex (column, center, center);
    min-height: 25vh;
    gap: 5rem;

    &__article {
        @include flex (row, center, stretch);
        gap: 3rem;
    }
}

.iconEnvios {
    font-size: 5rem;
    gap: 3rem;
    max-width: 200px;
    color: map-get($map: $colors, $key: secondary);
    @include flex (column, center, center);
}

.parrafosDeInformacion {
    font-size: 1.4rem;
    line-height: 1.3;
    text-align: center;
    color: map-get($map: $colors, $key: secondary);
}

.sectionTresEnvios {
    @include flex (column, center, center);
    gap: 4.5rem;

    &__article {
        @include flex (row, center, center);
        gap: 2rem;
    }
}

.sectionCuatroEnvios {
    @extend .sectionDosEnvios;
    height: auto;

    &__article {
        @extend .sectionDosEnvios__article;
    }
}