.body {
    background-image: url("../img/backgroundindex.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionUnoIndex {
    @include flex (column, center, center);
    height: 90vh;
    gap: 1rem;

    &__titulo {
        align-self: start;
        padding: 150px 0 0 0;
        text-shadow: 0 0 20px map-get($map: $colors, $key: four);
        font-size: 4.8rem;
        font-family: $font-title;
        border-bottom: map-get($map: $colors, $key: border) solid 5px;
        color: map-get($map: $colors, $key: secondary);
    }

    &__parrafo {
        text-shadow: 0 0 20px map-get($map: $colors, $key: four);
        align-self: start;
        font-size: 3.2rem;
        padding: 0 0 0 100px;
        color: map-get($map: $colors, $key: secondary);
    }

    &__btn {
        margin: 200px 0 0 0;
    }
}