.mainMenu {
    @include grid (center, center);
    row-gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.sectionUnoMenu {
    @include grid (center, normal);
    row-gap: 2rem;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "pictureMenu  tituloMenu"
        "pictureMenu  parrafoMenu";

    &__picture {
        grid-area: pictureMenu;
    }

    &__img {
        width: 100%;
    }

    &__article {
        grid-area: tituloMenu;
        display: flex;
        align-items: flex-end;
    }

    &__articleDos {
        grid-area: parrafoMenu;
    }
}

.titulosDeHamburguesas {
    font-size: 4.8rem;
    text-align: center;
    font-family: $font-title;
    border-bottom: map-get($map: $colors, $key: border) solid 5px;
    color: map-get($map: $colors, $key: secondary);

    &:hover {
        color: map-get($map: $colors, $key: hover);
    }
}

.parrafosDeHamburguesas {
    font-size: 3rem;
    text-align: center;
    color: map-get($map: $colors, $key: secondary);
}

.parrafo {
    &__preciosMenu {
        color: map-get($map: $colors, $key: primary);
        font-size: 3rem;
    }
}

.pictureArrow {
    &__img {
        width: 100%;
        max-width: 40px;
    }
}

.sectionDosMenu {
    @include grid (center, normal);
    row-gap: 2rem;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titulo2Menu    picture2Menu"
        "parrafo2Menu   picture2Menu";

    &__picture {
        grid-area: picture2Menu;
    }

    &__img {
        width: 100%;
    }

    &__article {
        grid-area: titulo2Menu;
        display: flex;
        align-items: flex-end;
    }

    &__articleDos {
        grid-area: parrafo2Menu;
    }
}

.sectionTresMenu {
    @extend .sectionUnoMenu;
    grid-template-areas:
        "picture3Menu   titulo3Menu"
        "picture3Menu   parrafo3Menu";

    &__picture {
        grid-area: picture3Menu;
    }

    &__img {
        width: 100%;
    }

    &__article {
        grid-area: titulo3Menu;
        display: flex;
        align-items: flex-end;
    }

    &__articleDos {
        grid-area: parrafo3Menu;
    }
}

.sectionCuatroMenu {
    @extend .sectionDosMenu;
    grid-template-areas:
        "titulo4Menu    picture4Menu"
        "parrafo4Menu   picture4Menu";

    &__picture {
        grid-area: picture4Menu;
    }

    &__img {
        width: 100%;
    }

    &__article {
        grid-area: titulo4Menu;
        display: flex;
        align-items: flex-end;
    }

    &__articleDos {
        grid-area: parrafo4Menu;
    }
}

.sectionCincoMenu {
    @include flex (column, normal, center);
    gap: 2rem;

    &__titulo {
        font-size: 4.8rem;
        font-family: $font-title;
        border-bottom: map-get($map: $colors, $key: border) solid 5px;
        color: map-get($map: $colors, $key: secondary);
    }

    &__ul {
        @include flex (column, normal, center);
        list-style-type: none;
    }

    &__li {
        list-style: none;
        font-size: 3rem;
        color: map-get($map: $colors, $key: secondary);

        &:hover {
            color: map-get($map: $colors, $key: hover);
        }
    }
}