.mainMenu {
    @include grid (center, center);
    row-gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.banner {
    background-image: url("../img/bannermenu.png");
    @include parallax;
    @include flex (column, center, center);

    &__titulo {
        font-size: 10rem;
        text-align: center;
        text-shadow: 0 0 20px map-get($map: $colors, $key: four);
        color: map-get($map: $colors, $key: secondary);
    }

    &__icon {
        font-size: 10rem;
        color: map-get($map: $colors, $key: primary);
    }

}

.banner--agregados {
    background-image: url("../img/banneragregados.png")
}

.sectionUnoMenu {
    @include grid (center, center);
    min-height: 75vh;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "pictureMenu  tituloMenu"
        "pictureMenu  parrafoMenu";

    &__picture {
        grid-area: pictureMenu;
    }

    &__img {
        width: 100%;
        border-radius: 50px;
    }

    &__article {
        grid-area: tituloMenu;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafoMenu;
        align-self: start;
    }
}

.tittle {
    font-size: map-get($map: $font-size, $key: 4rem);
    text-align: center;
    background-color: #08FF00;
    font-family: $font-title;
    color: map-get($map: $colors, $key: terciary);
}

.parrafosDeHamburguesas {
    font-size: map-get($map: $font-size, $key: 24rem);
    text-align: center;
    color: map-get($map: $colors, $key: secondary);
}

.parrafo {
    &__preciosMenu {
        color: map-get($map: $colors, $key: primary);
        font-size: 3rem;
    }
}

.iconArrow {
    font-size: 4.8rem;
    color: map-get($map: $colors, $key: primary);
}

.sectionDosMenu {
    @include grid (center, center);
    min-height: 75vh;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titulo2Menu    picture2Menu"
        "parrafo2Menu   picture2Menu";

    &__picture {
        grid-area: picture2Menu;
    }

    &__img {
        width: 100%;
        border-radius: 50px;
    }

    &__article {
        grid-area: titulo2Menu;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafo2Menu;
        align-self: start;
    }
}

.sectionTresMenu {
    @extend .sectionUnoMenu;
    grid-template-areas:
        "picture3Menu   titulo3Menu"
        "picture3Menu   parrafo3Menu";

    &__picture {
        grid-area: picture3Menu;
    }

    &__img {
        width: 100%;
        border-radius: 50px;
    }

    &__article {
        grid-area: titulo3Menu;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafo3Menu;
        align-self: start;
    }
}

.sectionCuatroMenu {
    @extend .sectionDosMenu;
    grid-template-areas:
        "titulo4Menu    picture4Menu"
        "parrafo4Menu   picture4Menu";

    &__picture {
        grid-area: picture4Menu;
    }

    &__img {
        width: 100%;
        border-radius: 50px;
    }

    &__article {
        grid-area: titulo4Menu;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafo4Menu;
        align-self: start;
    }
}

.sectionCincoMenu {
    @extend .sectionUnoMenu;
    grid-template-areas:
        "picture5Menu   titulo5Menu"
        "picture5Menu   parrafo5Menu";

    &__picture {
        grid-area: picture5Menu;
    }

    &__img {
        width: 100%;
        border-radius: 50px;
    }

    &__article {
        grid-area: titulo5Menu;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafo5Menu;
        align-self: start;
    }
}

.sectionSeisMenu {
    @extend .sectionDosMenu;
    grid-template-areas:
        "titulo6Menu    picture6Menu"
        "parrafo6Menu   picture6Menu";

    &__picture {
        grid-area: picture6Menu;
    }

    &__img {
        width: 100%;
        border-radius: 50px;
    }

    &__article {
        grid-area: titulo6Menu;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafo6Menu;
        align-self: start;
    }
}

.sectionSieteMenu {
    @include flex (column, normal, center);
    gap: 2rem;

    &__ul {
        @include flex (column, normal, center);
        list-style-type: none;
    }

    &__li {
        color: map-get($map: $colors, $key: secondary);

        &:hover {
            color: map-get($map: $colors, $key: hover);
        }
    }
}