.mainNosotros {
    @extend .mainMenu;
}

.banner--nosotros {
    background-image: url("../img/bannernosotros.png")
}

.sectionUnoNosotros {
    @extend .sectionUnoMenu;
    grid-template-areas:
        "pictureNosotros  tituloNosotros"
        "pictureNosotros  parrafoNosotros";

    &__picture {
        grid-area: pictureNosotros;
    }

    &__img {
        width: 100%;
        max-width: 500px;
    }

    &__article {
        grid-area: tituloNosotros;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafoNosotros;
        align-self: start;
    }
}

.sectionDosNosotros {
    @include grid (center, center);
    row-gap: 10rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "avatar1    avatar2";
}

.card {
    @include flex (column, center, center);
    grid-area: avatar1;
    gap: 2rem;
    background-color: transparent;
    border: none;
}

.card-img {
    max-width: 200px;
}

.card-titulo {
    background-color: #08ff00;
    color: map-get($map: $colors, $key: terciary);
    font-size: 3rem;
    padding: 5px 10px 5px 10px;
}

.card-2 {
    grid-area: avatar2;
}

.sectionTresNosotros {
    @include flex (column, center, center);
    gap: 3rem;
    max-width: 700px;
    width: 100%;
    margin: 50px 0 0 0;

}

.subtitle {
    background-color: #08ff00;
    text-align: center;
    color: map-get($map: $colors, $key: terciary);
    font-size: map-get($map: $font-size, $key: 32rem);
    padding: 5px 5px 5px 5px;
}

.accordion {
    padding: 0 50px 0 50px;
    --bs-accordion-color: rgba(255, 255, 255, 0.9);
    --bs-accordion-bg: rgba(255, 255, 255, 0);
    --bs-accordion-border-color: #08ff00;
    --bs-accordion-border-width: 3px;
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-btn-icon-width: 0;
    --bs-accordion-btn-focus-border-color: #08ff00;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem#08ff00;
    --bs-accordion-active-color: #08ff00;
    --bs-accordion-active-bg: transparent;
}

.accordion-button {
    font-size: 2rem;
    color: map-get($map: $colors, $key: secondary);
}

.accordion-body {
    font-size: 2rem;
}