.mainNosotros {
    @extend .mainMenu;
}

.sectionUnoNosotros {
    @include grid (center, center);
    margin-top: 5rem;
    row-gap: 2rem;
    column-gap: 3rem;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "pictureNosotros  tituloNosotros"
        "pictureNosotros  parrafoNosotros";

    &__picture {
        grid-area: pictureNosotros;
    }

    &__img {
        width: 100%;
    }

    &__article {
        grid-area: tituloNosotros;
        display: flex;
        align-items: flex-end;
    }

    &__articleDos {
        grid-area: parrafoNosotros;
    }
}

.sectionDosNosotros {
    @include grid (center, center);
    row-gap: 10rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "avatar1    avatar2";
}

.card {
    @include flex (column, center, center);
    grid-area: avatar1;
    gap: 2rem;
    background-color: #0000;
    border: none;
}

.card-img {
    max-width: 250px;
}

.card-titulo {
    color: map-get($map: $colors, $key: secondary);
    font-size: 3rem;
    font-family: $font-description;
    border-bottom: map-get($map: $colors, $key: border) solid 2px;

    &:hover {
        color: map-get($map: $colors, $key: hover);
    }
}

.card-2 {
    grid-area: avatar2;
}