.mainPromos {
    @include grid (center, center);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.sectionUnoPromos {
    @extend .sectionUnoMenu;
    grid-template-areas:
        "picturePromos  tituloPromos"
        "picturePromos  parrafoPromos";

    &__picture {
        grid-area: picturePromos;
    }

    &__img {
        width: 100%;
        max-width: 425px;
    }

    &__article {
        grid-area: tituloPromos;
        display: flex;
        align-items: flex-end;
    }

    &__articleDos {
        grid-area: parrafoPromos;
    }
}

.sectionDosPromos {
    @extend .sectionDosMenu;
    grid-template-areas:
        "titulo2Promos  picture2Promos"
        "parrafo2Promos picture2Promos";

    &__picture {
        grid-area: picture2Promos;
    }

    &__img {
        width: 100%;
    }

    &__article {
        grid-area: titulo2Promos;
        display: flex;
        align-items: flex-end;
    }

    &__articleDos {
        grid-area: parrafo2Promos;
    }
}