.mainPromos {
    @extend .mainMenu;
}

.banner--promos {
    background-image: url("../img/bannerpromos.png")
}

.sectionUnoPromos {
    @extend .sectionUnoMenu;
    grid-template-areas:
        "picturePromos  tituloPromos"
        "picturePromos  parrafoPromos";

    &__picture {
        grid-area: picturePromos;
    }

    &__img {
        width: 100%;
        border-radius: 50px;
    }

    &__article {
        grid-area: tituloPromos;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafoPromos;
        align-self: start;
    }
}

.sectionDosPromos {
    @extend .sectionDosMenu;
    grid-template-areas:
        "titulo2Promos  picture2Promos"
        "parrafo2Promos picture2Promos";

    &__picture {
        grid-area: picture2Promos;
    }

    &__img {
        width: 100%;
        border-radius: 50px;
    }

    &__article {
        grid-area: titulo2Promos;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafo2Promos;
        align-self: start;
    }
}

.sectionTresPromos {
    @extend .sectionUnoMenu;
    grid-template-areas:
        "picture3Promos  titulo3Promos"
        "picture3Promos  parrafo3Promos";

    &__picture {
        grid-area: picture3Promos;
    }

    &__img {
        width: 100%;
        border-radius: 50px;
    }

    &__article {
        grid-area: titulo3Promos;
        align-self: end;
    }

    &__articleDos {
        grid-area: parrafo3Promos;
        align-self: start;
    }
}